<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5" parallel="tests" thread-count="5">
  <test name="Test1">
    <classes>
      <class name="org.nottyo.samples.testsuites.SampleTestNgTest"/>
    </classes>
  </test>
  <test name="Test2">
    <classes>
      <class name="org.nottyo.samples.testsuites.SampleTestNgTest2" />
    </classes>
  </test>
</suite>